.advantages {
    padding: 70px 0 80px 0;
    background-color: #f6f6f6;

    &__blocks {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
    }

    &__block {
        max-width: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__header {
        color: #0D0D0D;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        text-align: center;
    }

    &__title {
        font-size: 18px;
        color: #0D0D0D;
        padding: 38px 0 26px 0;
        font-weight: 700;
    }
    &__descr{
        font-size: 14px;
        font-weight: 300;
        color: #0d0d0d;
        text-align: center;
        a {
            text-decoration: underline;
            color: #ff0000;
        }
    }
    &__icon{
        &_animated { 
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}