.feed {
    padding: 130px 0 70px 0;
    &__item {
        display: flex;
        margin-top: 100px;
    }

    &__title {
        font-size: 30px;
        color: #0D0D0D;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    &__image {
        width: 169px;
        height: 169px;
        border-radius: 100%;
    }
    &__text {
        margin-left: 62px;
        padding-right: 60px;
    }
    &__subt {
     color:#0D0D0D;
     font-size: 18px;
     font-weight: 700;
     margin-bottom: 10px;
    }
    &__count {
        color:#646464;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 19px;
    }
    &__descr {
        font-size: 16px;
        color:#0D0D0D;
        font-weight: 300;
    }
}